<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajero</title>

    {% block css %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> home</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}"> admin</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"> login</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
    {% block content %}
    {% endblock %}

    </div>
    <footer>
        <div>
            footer
        </div>
    </footer>
    
</body>
</html>