<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>incio de sesion</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cajero/css/my_style.css' %}">
<body>
    <div class="wrapper">
        <div class="image">
            <img src="{% static 'cajero/img/unsaac.png' %}" alt="logo unsaac">
        </div>
        <div class="title-text">
            <div class="title login">Login</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="#" class="login">
                    <div class="field">
                        <input type="email" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" required>
                    </div>
                    <div class="field">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>

