{% extends 'cajero/base.html' %} 
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
  <h4>Arqueo de caja</h4>
  <div class="row">
		{% for v in ventas %}
    <div class="col s3">
      <div class="card">
        <div class="card-content">
					<h5>{{ v.fecha.day}}/{{ v.fecha.month}}/{{ v.fecha.year}}</h5>
					<h5>{{ v.id_producto | capfirst }}</h5>
          <h5 class="green-text darken-1">{{ v.precio | intcomma }} PEN</h5>
          <h5>{{ v.cantidad | capfirst }}</h5>
					<h5 class="green-text darken-1">{{ v.total | intcomma }} PEN</h5>
        </div>
      </div>
    </div>
		{% endfor %}
  </div>
</div>
{% endblock %}
