{% extends 'cajero/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
  <div class="row section">
    <div class="col s4">
      <div class="section">
        <form action="{% url 'ventas'%}" method="POST">
          {% csrf_token %}
          <!-- <label >codigo:</label> -->
          {% if p %}
          <input type="text" name="codigo" placeholder="{{ p.codigo }}" required>
          <input type="text" name="cantidad" placeholder="{{ cant }}">
          {% else %}
          <input type="text" name="codigo" placeholder="CODIGO" required>
          <input type="text" name="cantidad" placeholder="CANTIDAD">
          {% endif %}
          <button class="btn waves-effect orange darken-3 right" type="submit" name="action">buscar<i class="material-icons right">search</i>
          </button>
        </form>
      </div>
      <div class="section">
        {% if p %}
        {% if disp >= 0 %}
        <div class="card">
          <div class="card-image">
            {% if p.imagen%}
            <!-- <img src="{% static 'cajero/img/Leopard-Download-PNG.png' %}" alt="" /> -->
            <img width="400" height="200" src="{{ p.imagen.url}}">
            {% endif %}
          </div>
          <div class="card-content">
            Codigo: {{p.codigo}}
            <h5>{{ p.nombre | capfirst }}</h5>
            <h5>Disponible: {{ disp }}</h5>
            <p>{{ p.descripcion}}</p>
            <p>{{ p.unidad_medida}}</p>
            <h5 class="green-text darken-1">{{ p.precio | intcomma }} PEN</h5>
            <h5 class="blue-text darken-1"> TOTAL: {{ totall | intcomma }} PEN</h5>
          </div>
        </div>
        <!-- <form action="#">
          <button class="btn waves-effect orange darken-3 right" type="submit" name="action">agregar<i class="material-icons right">send</i>
          </button>
        </form> -->
        {% else %}
        <h5>CANTIDAD NO DISPONIBLE</h5>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="col s8 white valign-wrapper">
      <div class="container section">
        <table class="striped centered responsive-table">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
          </thead>
  
          <tbody>
            {% for val in list_ven %}
            <tr>
              <td>{{val.nombre}}</td>
              <td>{{val.precio}}</td>
              <td>{{val.cantidad}}</td>
              <td>{{val.total}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not p %}
        <h5 class="blue-text darken-3"> TOTAL: {{ 0 | intcomma }}  PEN</h5>
        {% else %}
        <h5 class="blue-text darken-1"> TOTAL: {{ TOTAL | intcomma }} PEN</h5>
        {% endif %}
        <a class="btn waves-effect orange darken-3 right" href="{% url 'add' %}" > agregar <i class="material-icons right"> add</i> </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}